section.cv-section {
  text-align: center;
}

section.cv-section a.cv-link {
  color: #f96743;
  font-size: 18px;
  text-decoration: underline;
}

article h1 {
  margin-bottom: 32px;
}

article li {
  margin-bottom: 16px;
}

article li a {
  text-decoration: underline;
  color: #d5d7d8;
  font-size: 18px;
}

article li a:hover {
  color: #f96743;
}

article li p {
  margin: 0;
  color: #d5d7d8;
  font-size: 14px;
}

p span.date-str {
  color: #f96743;
}
